Repository 5hirish/quinine, changes with the labels that .github/labeler.yml gives for each.
All labels: flutter, router, services, provider, test_cases, documentation, actions, dependency

.github/labeler.yml:

flutter:
  - lib/**

router:
  - lib/router/**

services:
  - lib/services/**

provider:
  - lib/provider/**

test_cases: test/**

documentation:
  - docs/**
  - README.md

actions:
  - .github/**/*.yml

dependency:
  - pubspec*

- Updated dependencies
  pubspec.lock
  pubspec.yaml
Labels: dependency

- Fixed LSP message controller typo - Fixed file path now converted to URI
  lib/provider/lsp/base.dart
  lib/provider/lsp/document.dart
  lib/services/lsp/base.dart
Labels: flutter, services, provider

- Added $/progress request / response
  lib/models/lsp/params/progress.dart
  lib/models/lsp/params/progress.freezed.dart
  lib/models/lsp/params/progress.g.dart
  lib/provider/lsp/base.dart
  lib/provider/lsp/base.g.dart
  lib/provider/lsp/document.g.dart
  lib/services/lsp/base.dart
  lib/services/lsp/window.dart
Labels: flutter, services, provider

- WIP: Switching to bytes buffer for LSP stream as the LSP header content-length in is bytes and content-type being utf-8 it is a variable length encoding - Unit test cases for LSPBuffer added
  lib/provider/lsp/base.dart
  lib/services/lsp/base.dart
  lib/services/lsp/buffer.dart
  pubspec.lock
  pubspec.yaml
  test/data/lsp.dart
  test/services/lsp/lsp_int_test.dart
  test/services/lsp/lsp_test.dart
  test/services/lsp/lsp_test.mocks.dart
  test/services/lsp/lst_buffer_test.dart
Labels: flutter, services, provider, test_cases, dependency

- Fixed LSPBuffer to process bytes as per https://github.com/dart-lang/sdk/issues/53289 - Fixed work done progress.dart model
  lib/models/lsp/params/progress.dart
  lib/models/lsp/params/progress.freezed.dart
  lib/models/lsp/params/progress.g.dart
  lib/provider/lsp/base.dart
  lib/provider/lsp/base.g.dart
  lib/services/lsp/base.dart
  lib/services/lsp/buffer.dart
  test/services/lsp/lsp_test.mocks.dart
  test/services/lsp/lst_buffer_test.dart
Labels: flutter, services, provider, test_cases

- Added provider to maintain server capabilities to client request
  lib/models/lsp/params/capabilities.dart
  lib/models/lsp/result/capabilities.dart
  lib/models/lsp/result/capabilities.freezed.dart
  lib/models/lsp/result/capabilities.g.dart
  lib/provider/lsp/base.dart
  lib/provider/lsp/base.g.dart
  lib/provider/lsp/capabilities.dart
  lib/provider/lsp/capabilities.g.dart
Labels: flutter, provider

- Added provider to maintain, register, unregister, client capabilities as specified by the server
  lib/models/lsp/params/capabilities.dart
  lib/models/lsp/params/capabilities.freezed.dart
  lib/models/lsp/params/capabilities.g.dart
  lib/models/lsp/params/registrations.dart
  lib/models/lsp/params/registrations.freezed.dart
  lib/models/lsp/params/registrations.g.dart
  lib/models/lsp/result/capabilities.dart
  lib/provider/lsp/base.dart
  lib/provider/lsp/base.g.dart
  lib/provider/lsp/capabilities.dart
  lib/provider/lsp/capabilities.g.dart
  test/services/lsp/lsp_int_test.dart
Labels: flutter, provider, test_cases

- Updated dependencies
  pubspec.lock
  pubspec.yaml
Labels: dependency

- Added new text range fetch
  lib/provider/lsp/document.dart
Labels: flutter, provider

- Fixed issues with File service
  lib/views/editor.dart
  lib/views/editor/code.dart
Labels: flutter
