Repository 5hirish/quinine, changes with the labels that .github/labeler.yml gives for each.
All labels: flutter, router, services, provider, test_cases, documentation, actions, dependency

- Added github workflow action for labeling
  .github/workflows/build.yml
Labels: actions

- Added badges to README.md
  README.md
  codecov.yml
Labels: documentation

- Added badges to README.md
  README.md
Labels: documentation

- Added app icons in assets - Added test case to verify code buffering in source file provider - Add clock for better mocking
  README.md
  assets/icon/icon-circle.png
  assets/icon/icon-rect.png
  assets/icon/icon-square.png
  lib/provider/code.dart
  lib/provider/code.g.dart
  pubspec.lock
  pubspec.yaml
  test/provider/code_test.dart
  test/provider/code_test.mocks.dart
  test/snippets/basic.dart
Labels: flutter, provider, test_cases, documentation, dependency

- Added file save on tab close
  lib/provider/code.dart
  lib/views/editor.dart
Labels: flutter, provider

- Fixed file save operation - Added key Ctr+S key action on code editor file open to save file
  lib/intents/file.dart
  lib/keys/activators.dart
  lib/provider/code.dart
  lib/utils/action_logger.dart
  lib/utils/shortcut_logger.dart
  lib/views/editor/code.dart
Labels: flutter, provider

Added progress updates and team to README.md
  README.md
Labels: documentation

Updated README.md with emojis
  README.md
Labels: documentation

Updated README.md with italics
  README.md
Labels: documentation

- Added keyboard shortcuts provider
  lib/core.dart
  lib/keys/activators.dart
  lib/keys/android_studio.dart
  lib/keys/vscode.dart
  lib/models/keys.dart
  lib/provider/keys.dart
Labels: flutter, provider

fix editor tabs
  lib/provider/file.dart
  lib/views/editor.dart
  lib/views/tools/explorer/project.dart
Labels: flutter, provider

format with dart-format
  lib/core.dart
  lib/error.dart
  lib/hooks/code.dart
  lib/hooks/multi_view.dart
  lib/intents/file.dart
  lib/keys/activators.dart
  lib/keys/android_studio.dart
  lib/keys/vscode.dart
  lib/main.dart
  lib/models/ignored.dart
  lib/models/keys.dart
  lib/models/media.dart
  lib/models/theme.dart
  lib/models/utils/project.dart
  lib/provider/code.dart
  lib/provider/datastore.dart
  lib/provider/file.dart
  lib/provider/keys.dart
  lib/provider/project.dart
  lib/provider/repository.dart
  lib/provider/theme.dart
  lib/repository/buffer/code.dart
  lib/router/router.dart
  lib/router/routes.dart
  lib/services/file.dart
  lib/theme/bluem3.dart
  lib/utils.dart
  lib/utils/action_logger.dart
  lib/utils/shortcut_logger.dart
  lib/utils/state_logger.dart
  lib/views/editor/code.dart
  lib/views/lang/ext.dart
  lib/views/tools/tools.dart
  lib/widgets/bar/app_bar.dart
  lib/widgets/bar/tool_bar.dart
  lib/widgets/item/file.dart
  lib/widgets/menu/explorer/file.dart
  lib/widgets/tool.dart
  lib/window.dart
Labels: flutter, router, services, provider

enable formatter test in github action
  .github/workflows/build.yml
Labels: actions

format test file
  test/provider/code_test.dart
  test/snippets/basic.dart
Labels: test_cases

Update issue templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
Labels: none

📝 Markdown Viewer added when opening a markdown file
  lib/views/editor/code.dart
  macos/Podfile.lock
  pubspec.lock
  pubspec.yaml
Labels: flutter, dependency

Updated templates for PR
  .github/PULL_REQUEST_TEMPLATE/pull_request_template.md
  README.md
Labels: documentation

Added Dart LSP service provider
  lib/core.dart
  lib/provider/code.g.dart
  lib/provider/lsp.dart
  lib/provider/lsp.g.dart
  lib/services/lsp/dart.dart
  pubspec.lock
  pubspec.yaml
Labels: flutter, services, provider, dependency

Added initialize method
  lib/provider/project.dart
  lib/services/lsp/dart.dart
Labels: flutter, services, provider

Added feature specs issue template
  .github/ISSUE_TEMPLATE/feature_spec.md
  .github/pull_request_template.md
Labels: none

Trimmed PR template
  .github/pull_request_template.md
Labels: none

Updated contribution docs
  CONTRIBUTING.md
Labels: none

- Improved the LSP service start and stop - Added initalization method and combined with change directory event
  lib/core.dart
  lib/models/lsp/error.dart
  lib/models/lsp/error.freezed.dart
  lib/models/lsp/error.g.dart
  lib/models/lsp/params/capabilities.dart
  lib/models/lsp/params/clientInfo.dart
  lib/models/lsp/params/clientInfo.freezed.dart
  lib/models/lsp/params/clientInfo.g.dart
  lib/models/lsp/params/initializationOptions.dart
  lib/models/lsp/params/initializationOptions.freezed.dart
  lib/models/lsp/params/initializationOptions.g.dart
  lib/models/lsp/params/initialize.dart
  lib/models/lsp/params/initialize.freezed.dart
  lib/models/lsp/params/initialize.g.dart
  lib/models/lsp/params/workspaceFolder.dart
  lib/models/lsp/params/workspaceFolder.freezed.dart
  lib/models/lsp/params/workspaceFolder.g.dart
  lib/provider/lsp.dart
  lib/provider/lsp.g.dart
  lib/provider/project.dart
  lib/provider/project.g.dart
  lib/services/lsp/dart.dart
  lib/utils.dart
  lib/widgets/bar/tool_bar.dart
  pubspec.lock
  pubspec.yaml
  test/provider/code_test.mocks.dart
Labels: flutter, services, provider, test_cases, dependency

- Added package info to LSP calls
  lib/provider/project.dart
  lib/services/lsp/dart.dart
  macos/Flutter/GeneratedPluginRegistrant.swift
  pubspec.lock
  pubspec.yaml
Labels: flutter, services, provider, dependency

- Added factory to LSP constructor so it starts itself - Removed Apple Sandbox to allow Dart LSP process to be executed within - Added test case for LSP dart server initialization
  lib/provider/lsp.dart
  lib/provider/lsp.g.dart
  lib/provider/project.dart
  lib/provider/project.g.dart
  lib/services/lsp/dart.dart
  macos/Podfile.lock
  macos/Runner/DebugProfile.entitlements
  macos/Runner/Release.entitlements
  test/provider/code_test.dart
  test/services/lsp_test.dart
Labels: flutter, services, provider, test_cases

- Added wrapper for process allowing better testing
  lib/core.dart
  lib/models/lsp/params/initialize.dart
  lib/models/lsp/params/initialize.freezed.dart
  lib/models/lsp/params/initialize.g.dart
  lib/provider/lsp.dart
  lib/provider/lsp.g.dart
  lib/services/lsp/dart.dart
  lib/wrapper/process.dart
  test/data/lsp.dart
  test/services/lsp_int_test.dart
  test/services/lsp_test.mocks.dart
Labels: flutter, services, provider, test_cases

- Added LSP service abstraction - Added LSP stdout buffer
  lib/core.dart
  lib/provider/lsp.dart
  lib/services/lsp/base.dart
  lib/services/lsp/buffer.dart
  lib/services/lsp/lang/dart.dart
  test/services/lsp_int_test.dart
  test/services/lsp_test.dart
Labels: flutter, services, provider, test_cases

- Fixed test cases for LSP server
  lib/services/lsp/base.dart
  lib/services/lsp/buffer.dart
  test/data/lsp.dart
  test/services/lsp_test.dart
Labels: flutter, services, test_cases

- Start Dart server process on project director selected
  lib/core.dart
  lib/provider/project.dart
Labels: flutter, provider

Fixed README.md typos
  README.md
  pubspec.lock
  pubspec.yaml
Labels: documentation, dependency

- Add textDocument/didOpen method
  lib/models/lsp/params/document/textDocItem.dart
  lib/models/lsp/params/document/textDocItem.freezed.dart
  lib/models/lsp/params/document/textDocItem.g.dart
  lib/provider/project.g.dart
  lib/services/analyzer/dart.dart
  lib/services/lsp/base.dart
Labels: flutter, services, provider

- Created a mixin for LSP doc sync notifications - Added doc sync methods supported by dart-sdk to it
  lib/models/lsp/params/document/range.dart
  lib/models/lsp/params/document/range.freezed.dart
  lib/models/lsp/params/document/range.g.dart
  lib/models/lsp/params/document/textDocContentChange.dart
  lib/models/lsp/params/document/textDocContentChange.freezed.dart
  lib/models/lsp/params/document/textDocContentChange.g.dart
  lib/models/lsp/params/document/versionedTextDocId.dart
  lib/models/lsp/params/document/versionedTextDocId.freezed.dart
  lib/models/lsp/params/document/versionedTextDocId.g.dart
  lib/services/lsp/base.dart
  lib/services/lsp/document.dart
  lib/services/lsp/lang/dart.dart
Labels: flutter, services

- Updated dependencies - Fixed Window manager breaking changes
  lib/window.dart
  pubspec.lock
  pubspec.yaml
Labels: flutter, dependency

- LSP initiation integration successful - Added notification to windows
  lib/models/log_level.dart
  lib/models/lsp/error.dart
  lib/models/lsp/error.freezed.dart
  lib/models/lsp/error.g.dart
  lib/models/notification.dart
  lib/models/notification.freezed.dart
  lib/models/notification.g.dart
  lib/provider/lsp.dart
  lib/provider/lsp.g.dart
  lib/provider/notifications.dart
  lib/provider/notifications.g.dart
  lib/provider/project.dart
  lib/router/routes.g.dart
  lib/services/lsp/base.dart
  lib/theme/bluem3.dart
  lib/theme/colors.dart
  lib/views/editor/code.dart
  lib/widgets/notification/in_app.dart
  lib/window.dart
  lib/wrapper/process.dart
  pubspec.lock
  pubspec.yaml
  test/provider/code_test.mocks.dart
  test/services/lsp_test.mocks.dart
Labels: flutter, router, services, provider, test_cases, dependency

- Added in-app notification
  .gitignore
  lib/widgets/notification/in_app.dart
  lib/window.dart
  pubspec.lock
  pubspec.yaml
Labels: flutter, dependency

- Added auto-dismissal in-app notification #16
  lib/window.dart
Labels: flutter

- Converted Dart LSP provider to an (Async)NotifierProvider that fixes issue in #9
  lib/provider/code.g.dart
  lib/provider/datastore.g.dart
  lib/provider/file.g.dart
  lib/provider/lsp.dart
  lib/provider/lsp.g.dart
  lib/provider/notifications.g.dart
  lib/provider/project.dart
  lib/provider/project.g.dart
  lib/provider/repository.g.dart
  lib/provider/theme.g.dart
  lib/provider/tools.g.dart
  lib/router/router.g.dart
Labels: flutter, router, provider

- Dart LSP provider now takes in workspace root uri as argument to ensure new instance of provider per workspace - Added lifecycle observer (no desktop support yet)
  lib/binders/lifecycle.dart
  lib/core.dart
  lib/provider/lsp.dart
  lib/provider/lsp.g.dart
  lib/provider/project.dart
  lib/provider/project.g.dart
  lib/window.dart
Labels: flutter, provider

- Fixed dart lsp provider inconsistent state
  lib/binders/lifecycle.dart
  lib/provider/lsp.dart
  lib/services/lsp/base.dart
Labels: flutter, services, provider

- Added document open and close LSP methods - Bug: LSP method request ID not incrementing - Bug: LSP doc open throwing uninitialized server error
  lib/config/lang.dart
  lib/core.dart
  lib/models/lang.dart
  lib/models/utils/ext.dart
  lib/provider/lsp/base.dart
  lib/provider/lsp/base.g.dart
  lib/provider/lsp/document.dart
  lib/provider/lsp/document.g.dart
  lib/provider/project.dart
  lib/provider/project.g.dart
  lib/services/lsp/base.dart
  lib/services/lsp/document.dart
  lib/views/editor.dart
  lib/views/editor/code.dart
Labels: flutter, services, provider

.github/labeler.yml:

flutter:
  - lib/**

router:
  - lib/router/**

services:
  - lib/services/**

provider:
  - lib/provider/**

test_cases: test/**

documentation:
  - docs/**
  - README.md

actions:
  - .github/**/*.yml

dependency:
  - pubspec*
